
body {
    margin: .5% .1%;
    height: -webkit-fill-available;
    user-select: none;
}
img{
    -webkit-user-drag: none;
}

#slidePreview {
    flex-basis: 75%;
    background: rgb(43, 45, 48);
    padding-right: .2%;
    height: 100vh;
    #currentSlideThumbContainer{
        height: 50%;
        .currentSlideThumb{
            width: auto;
            height: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;
            border-radius: $slideThumbCornerRadius;
        }
    }
}

#slidePreview:before {
    background: black;
}

#textSlidesContainer {
    font-size: 26pt;
    text-align: center;
    ul {
        list-style: none;
        color: black;
        font-weight: 800;
        user-select: none;
        cursor: pointer;
    }
}

#textSlidesList > li:hover:not(.active-text-slide){
    color: rgba(255, 255, 255, 0.50);
}

.active-text-slide {
    color: white;
}