/*@font-face {
  font-family: AL-Mateen;
  src: url("AL-Mateen.TTF") format("truetype");
}*/
body {
  font-family: AL-Mateen, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}
